@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --font-family: 'Poppins', sans-serif;
  --background-color: #E8F3D6;
  --hover-color: #6B3FA0;
  --text-color: #444444;
  --light-gray: #D3D3D3;
}

::selection {
  background-color: var(--hover-color);
  color: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--hover-color);
}

::-webkit-scrollbar {
  width: 3px;
  border-radius: 50%;


}

::-webkit-scrollbar-track {
  background-image: url("/subtle-prism.svg");
}


html {
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

body {
  background-image: url("/subtle-prism.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--font-family);
  background-color: var(--background-color);
  font-display: swap;
}