.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader_bar {
    width: 10px;
    height: 60px;
    margin-right: 5px;
    background-color: var(--hover-color);
    animation: stretch 1.2s ease-in-out infinite;
}

.loader_bar:last-child {
    margin-right: 0;
}

.loader_bar:nth-child(1) {
    animation-delay: 0.1s;
}

.loader_bar:nth-child(2) {
    animation-delay: 0.2s;
}

.loader_bar:nth-child(3) {
    animation-delay: 0.3s;
}

@keyframes stretch {

    0%,
    40%,
    100% {
        transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1);
    }
}