.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 8px 10px;
  background-color: var(--section-bg-color);

  .logo {
    img {
      max-width: 80px;
      height: auto;
      object-fit: cover;

      @media (max-width: 768px) {
        max-width: 60px;
      }
    }
  }

  .navbar {
    .nav_links {
      display: flex;
      gap: 1rem;

      .nav_link {
        text-decoration: none;
        color: #000;
        transition: all 0.3s ease-in-out;

        a {
          text-decoration: none;
          color: var(--text-color);
          font-size: 1rem;
          font-weight: 500;
          transition: all 0.3s ease-in-out;
          letter-spacing: 1px;
          &:hover {
            color: var(--hover-color);
          }
        }
      }
    }
  }
}
