.resources_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  width: 800px;
  margin: auto;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
  .resources_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 100%;
    margin-top: 1rem;

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .resources_card {
      box-shadow: var(--hover-color) 0px 2px 8px 0px;
      padding: 0.6rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        box-shadow: var(--hover-color) 0px 2px 3px 0px;
      }

      .resources_card_description {
        h3 {
          font-size: 1.5rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
          letter-spacing: 1px;
          text-align: center;
        }

        p {
          font-size: 1rem;
          margin-bottom: 0.5rem;
          letter-spacing: 1px;
          line-height: 30px;
          font-weight: 400;
          color: var(--text-color);
        }
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: var(--text-color);
          font-size: 1rem;
          font-weight: 600;
          letter-spacing: 1px;
          transition: all 0.3s ease-in-out;

          .arrow {
            margin-left: 0.5rem;
            font-size: 1.2rem;
            transition: all 0.3s ease-in-out;
          }
          &:hover {
            color: var(--hover-color);
            .arrow {
              transform: translateX(5px);
              color: var(--hover-color);
            }
          }
        }
      }
    }
  }
}
