.resources_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-height: var(--min-height);

  .resources_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;

    .resources_card {
      box-shadow: var(--hover-color) 0px 2px 8px 0px;
      padding: 0.6rem;
      transition: all 0.3s ease-in-out;
      max-width: 420px;
      margin: auto;
      background-color: black;
      background: rgba(65, 64, 64, 0.77);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(1px);
      -webkit-backdrop-filter: blur(1px);
      border: 1px solid rgba(79, 76, 76, 0.57);
      border: 1px solid var(--special-text-color);

      &:hover {
        transform: translateY(-5px);
        box-shadow: var(--hover-color) 0px 2px 8px 0px;
      }

      .resources_card_description {
        h3 {
          font-size: 1.5rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
          letter-spacing: 1px;
          text-align: center;
          color: var(--heading-color);

          @media screen and (max-width: 768px) {
            font-size: 1.2rem;
          }
        }

        p {
          font-size: 1rem;
          margin-bottom: 0.5rem;
          letter-spacing: 1px;
          line-height: 30px;
          font-weight: 400;
          color: var(--text-color);

          @media screen and (max-width: 768px) {
            font-size: 0.9rem;
          }
        }
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: var(--text-color);
          font-size: 1rem;
          font-weight: 600;
          letter-spacing: 1px;
          transition: all 0.3s ease-in-out;

          @media screen and (max-width: 768px) {
            font-size: 0.9rem;
          }

          .arrow {
            margin-left: 0.5rem;
            font-size: 1.2rem;
            transition: all 0.3s ease-in-out;
          }
          &:hover {
            color: var(--hover-color);
            .arrow {
              transform: translateX(5px);
              color: var(--hover-color);
            }
          }
        }
      }
    }
  }
}
