.section_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  // height: 50vh;
  padding: 8px 10px;
  margin: 2rem 0;
  @media screen and (max-width: 768px) {
    height: 100vh;
    flex-direction: column;
  }

  .section_description {
    flex: 1;
    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 1rem;
      letter-spacing: 1px;
      text-align: center;
      @media (max-width: 768px) {
        font-size: 1.8rem;
      }
    }

    p {
      font-size: 1.1rem;
      margin-bottom: 1rem;
      letter-spacing: 1px;
      line-height: 30px;
      font-weight: 400;
      color: var(--text-color);
      text-align: justify;

      &:last-child {
        margin-bottom: 0;
      }
      @media screen and (max-width: 768px) {
        font-size: 1rem;
      }
    }

    .special_text {
      font-weight: 600;
      color: var(--hover-color);
    }

    button {
      width: 50%;
      padding: 0.8rem 1rem;
      border: none;
      outline: none;
      background-color: #ffd700;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      font-family: inherit;
      letter-spacing: 1px;
      box-shadow: 4px 4px 0px var(--hover-color);
      a {
        text-decoration: none;
        color: black;
        font-size: 1rem;
        font-weight: 500;
      }

      &:hover {
        transform: translate(2px, -2px);
        box-shadow: 2px 2px 0px var(--hover-color);
      }

      &:active {
        transform: translateY(-10px);
      }
    }
  }

  .section_image {
    flex: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
